/* Дизайн модального окна (форма покупки) */
#orderModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    /* Центрируем окно ровно по середине экрана */
    transform: translate(-50%, -50%);
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
    z-index: 1000;
    width: 320px;
}

#orderModal h2 {
    margin-top: 0;
    text-align: center;
}

/* Стили для полей ввода (инпутов) */
#orderModal input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box; /* Чтобы padding не ломал ширину */
    font-size: 16px;
}